.sec-1 {
    height: 700px;
    background-image: url('/Data/media/images/desk-top.jpg');
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
}

.sec-3{
    height:500px;
    background-color: #c09853;
}

.foot{
    background-color: #c09853;
    padding-top:10px;
    padding-bottom:5px;
}


.about-wrap {
    margin-left:10%;
}

.table-info{
    color: #485560;
}

.table-info-work{
    color: #c0c0c0;
}

#about-image{
    width:285px;
    height:350px;
    margin: 0 auto;
    overflow: hidden;
}
#about-image > img {
  width:300px;
  height:auto
}

.about-text{
    overflow:hidden;
}

.info-table{
    margin-left:20px;
}

.work-table{
    margin-top:40px;
    padding-bottom:40px;
    border-collapse: separate;

}

hr.style-two{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.input-box{
    width:50%;
}

.hackerrank-ico{
    content: "..Data/media/images/hackerrankIcon.png";
}

.job{
    margin: 0 100px 0 100px !important;
    color:#c0c0c0;
}
.intro-section{
    height:33%;
}

.links-group{
}

.links-group div{
    margin-top:60px;
}

.intro-section a {

}

.side-by-side{
    display:inline-block;
}

footer {
    color:#c0c0c0;
    background-color:#333;
}


.info-table td{
    height:30px;
}

.table-head {
    font-size: 1.5em;
    width: 33.33%;
}


.table-head-work{
    font-size:1.5em;
    color: #FFF;
    padding-bottom:10px;
}

.break-image{
    width:70%;
    display:inline-block;
    margin:50px;
}

.sec-2 {
    background-color: #333;
}

.header-text {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #c0c0c0;
    margin: 30px;
}

.header-text2 {
    font-size: 4em;
}

.header-text2, .header-sub {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #FFF;
    margin: 80px;
}

.round-image {
    width: 250px;
    height: 250px;
    -webkit-border-radius: 150px;
    margin-top:30px;
}


.grid {
    width: 80%;
    text-align: center;
    padding-bottom: 30px;
}

/*.col-sm {
    width: 20%;
    margin: 20px;
        display: inline-block;
}*/

/*.col-sm:hover {
    }*/

.close-button {
    margin-bottom: 10px;
}

.modal {
    position: absolute;
    padding-left:20px;
    padding-right:20px;
    width: 70%;
    left: 15%;
    margin-left: 0px;
    display: none;
}

.sub-head {
    color: #566566;
    margin-top: -10px;
}

.image-wrap {
    margin: 15px;
}

.work-stuff div{
  color: #c0c0c0;
}
#projects{
    background-color: #333;
}
#nav-to-center{
  width:478px;
  margin: 0 auto;
}
#modal-links > a{
    display:inline-block;
    padding:10px;
    padding-bottom: 20px;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}

#modal-links > a:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

#about-header{
  color: #333;
}

#about{
    background-color: #c09853;
    padding-bottom: 20px;
}
