<section class="container-fluid" id="about">
    <div class="row text-center">
        <h1 class="header-text" id='about-header'>About</h1>
    </div>

    <hr class="style-two">
    <div class="about-wrap row">
      <div class='col-xs-12 col-md-3 text-center'>

        <div class="" id='about-image'>
            <img src="../Data/media/images/GpaInterviewPic.jpg">
        </div>
      </div>
        <div class="col-xs-12 col-md-9 about-text">
            {{content}}
            <div class='about-stuff'>
                <div class='col-md-6 text-center'>
                    <h3>Major:</h3>
                    <p>Computer Science</p>
                    <h5>Major GPA:</h5>
                    <p>3.95</p>
                </div>
                <div class='col-md-6 text-center'>
                    <h3>Minor:</h3>
                    <p>Computer Animation and Game Development</p>
                    <h5>Cummulative GPA:</h5>
                    <p>3.65</p>
                </div>
            </div>

        </div>
</section>
