<section class="sec-3" id="about">
    <div class="row text-center">
        <h1 class="header-text" style="color:#333">About</h1>
    </div>
    <div class="about-wrap">
        <div class="row about-image">
            <img class="round-image" src="../Data/media/images/seniorpic1.jpg">
        </div>
        <div class="about-text">
            {{content}}
            <table style="width:100%" class="info-table">
                <tr>
                    <td align="center" class="table-head">Major:</td>

                    <td align="center" class="table-head">Minor:</td>
                </tr>
                <tr>
                    <td align="center" class="table-info">Computer Science</td>

                    <td align="center" class="table-info">Computer Animation and Game Development</td>
                </tr>
                <tr>
                    <td align="center" style="font-size:1rem">Major GPA: </td>

                    <td align="center" style="font-size:1rem">Cummulative GPA: </td>
                </tr>
                <tr>
                    <td align="center" class="table-info">3.95</td>

                    <td align="center" class="table-info">3.65</td>
                </tr>
            </table>

        </div>
    </div>
</section>
