<section class="sec-3" id="contact">
    <div class="row text-center">
        <h1 class="header-text2">Contact Me</h1>
    </div>
    <div class="text-center">
        <form method="POST" name="contactform" action="http://formspree.io/sampson.bryce@yahoo.com">
            <p>
                <input class="input-box" type="text" name="name" placeholder="Name">
            </p>
            <p>
                <input class="input-box" type="text" name="email" placeholder="Email">
            </p>
            <textarea class="input-box" rows="5" name="message" placeholder="Message"></textarea><br>
            <input class="btn btn-primary" type="submit" value="Send">
        </form>
    </div>
</section>
