<section class="sec-1" id="top" style="margin-top: -10px;">
    <div class="row text-center intro-section">
        <h1 class="header-text2">Bryce Sampson</h1>
    </div>
    <div class="row text-center intro-section links-group">
        <div>
            <a href="https://www.facebook.com/bryce.sampson.3" class="btn-social btn-outline"><i
                    class="fa fa-fw fa-facebook"></i></a>
            <a href="https://github.com/sampsonbryce" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
            <a href="https://www.linkedin.com/in/bryce-sampson-a497a5b1" class="btn-social btn-outline"><i
                    class="fa fa-fw fa-linkedin"></i></a>
        </div>
    </div>
    <div class="row text-center intro-section">
        <h4 class="header-sub">- Developer - Student - Leader -</h4>
    </div>
</section>
