<section class="sec-2" id="projects">
    <div class="row text-center">
       <h2 class="header-text">Projects</h2>
    </div>
    <div class="row grid">
        <div class="col-sm">
            <a href="#projectModal1" class="portfolio-link" data-toggle="modal">
                <img src="../Data/media/images/apple.jpg" class="img-responsive">
            </a>
        </div>
        <div class="col-sm">
            <a href="#projectModal2" class="portfolio-link" data-toggle="modal">
                <img src="../Data/media/images/fashion.jpg" class="img-responsive">
            </a>
        </div>
        <div class="col-sm">
            <a href="#projectModal3" class="portfolio-link" data-toggle="modal">
                <img src="../Data/media/images/astar.png" class="img-responsive">
            </a>
        </div>

    </div>
</section>


<!--modals-->
<div class="modal fade" id="projectModal1" aria-hidden="true">
    <div class="modal-content">
        <div class="row text-center">
            <h1>Calorie Calculator for Android</h1>
        </div>
        <div class="row text-center image-wrap">
            <img src="../Data/media/images/apple.jpg" class="img-responsive">
        </div>
        <div class="row text-center desc" data="CalCalc.md">
        </div>
        <div class="row text-center">
            <button class="center-block close-button" type="button" data-dismiss="modal">Close</button>
        </div>

    </div>
</div>

<div class="modal fade" id="projectModal2" aria-hidden="true">
    <div class="modal-content">
        <div class="row text-center">
            <h1>SnapStyle</h1>
        </div>
        <div class="row text-center image-wrap">
            <img src="../Data/media/images/fashion.jpg" class="img-responsive">
        </div>
        <div class="row text-center desc" data="SnapStyle.md">
        </div>
        <div class="row text-center">
            <button class="center-block close-button" type="button" data-dismiss="modal">Close</button>
        </div>

    </div>
</div>

<div class="modal fade" id="projectModal3" aria-hidden="true">
    <div class="modal-content">
        <div class="row text-center">
            <h1>A* Pathfinding</h1>
        </div>
        <div class="row text-center image-wrap">
            <img src="../Data/media/images/astar.png" class="img-responsive">
        </div>
        <div class="row text-center desc" data="Astar.md">
        </div>
        <div class="row text-center">
            <button class="center-block close-button" type="button" data-dismiss="modal">Close</button>
        </div>

    </div>
</div>
