<div class="container-fluid" id="projects">
    <div class="row text-center">
        <h2 class="header-text">Projects</h2>
    </div>
    <hr class="style-two">

    <div class="row text-center" id='modal-links'>
        <button data-target="#projectJSDMP" class="portfolio-link" data-toggle="modal">
            <img src="../Data/media/images/distributed.jpg" class="img-responsive">
        </button>
        <button data-target="#projectDatasift" class="portfolio-link" data-toggle="modal">
            <img id='datasift-button-img' src="../Data/media/images/us-map.png" class="img-responsive">
        </button>
        <button data-target="#projectModal2" class="portfolio-link" data-toggle="modal">
            <img src="../Data/media/images/fashion.jpg" class="img-responsive">
        </button>
        <button data-target="#projectModal1" class="portfolio-link" data-toggle="modal">
            <img src="../Data/media/images/apple.jpg" class="img-responsive">
        </button>

        <button data-target="#projectModal3" class="portfolio-link" data-toggle="modal">
            <img src="../Data/media/images/astar.png" class="img-responsive">
        </button>

    </div>
</div>


<!--modals-->
<div class="modal fade" id="projectModal1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role='document'>
        <div class='modal-content'>
            <div class="model-header text-center">
                <h1>Calorie Calculator for Android</h1>
            </div>
            <div class="modal-body text-center image-wrap">
                <img src="../Data/media/images/apple.jpg">
                <div class="text-center desc" data="CalCalc.md"></div>
            </div>
            <div class="modal-footer text-center">
                <button class="center-block close-button btn" type="button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="projectModal2" aria-hidden="true">
    <div class='modal-dialog modal-lg'>
        <div class="modal-content">
            <div class="modal-header text-center">
                <h1>SnapStyle</h1>
            </div>
            <div class="modal-body text-center image-wrap">
                <img src="../Data/media/images/fashion.jpg" class="img-responsive">
                <div class="text-center desc" data="SnapStyle.md"></div>
            </div>
            <div class="modal-footer text-center">
                <button class="center-block close-button btn" type="button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="projectModal3" aria-hidden="true">
    <div class='modal-dialog modal-lg'>
    <div class="modal-content">
        <div class="modal-header text-center">
            <h1>A* Pathfinding</h1>
        </div>
        <div class="modal-body text-center image-wrap">
            <img src="../Data/media/images/astar.png" class="img-responsive">
            <div class="text-center desc" data="Astar.md">
        </div>
        </div>
        <div class="modal-footer text-center">
            <button class="center-block close-button btn" type="button" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="projectJSDMP" aria-hidden="true">
    <div class='modal-dialog modal-lg'>
    <div class="modal-content">
        <div class="modal-header text-center">
            <h1>JSDMP</h1>
        </div>
        <div class="modal-body text-center image-wrap">
            <img src="../Data/media/images/distributed.jpg" class="img-responsive">
            <div class="text-center desc" data="JSDMP.md">
        </div>
        </div>
        <div class="modal-footer text-center">
            <button class="center-block close-button btn" type="button" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="projectDatasift" aria-hidden="true">
    <div class='modal-dialog modal-lg'>
    <div class="modal-content">
        <div class="modal-header text-center">
            <h1>Datasift Visualization</h1>
        </div>
        <div class="modal-body text-center image-wrap">
            <img src="../Data/media/images/datasift.png" class="img-responsive">
            <div class="text-center desc" data="Datasift.md">
        </div>
        </div>
        <div class="modal-footer text-center">
            <button class="center-block close-button btn" type="button" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>
