<section class="sec-2" id="work">
    <div class="row text-center">
        <h1 class="header-text">Work</h1>
    </div>
    <hr class="style-two">
    <div class="row text-center">
        <h2 class="header-text" style="color:#FFF">Lawrence Livermore National Laboratory (Current) (Internship)</h2>
    </div>
    <div class="desc job" data="Lab.md">
    </div>
    <table style="width:100%" class="work-table">
        <tr>
            <td align="center" class="table-head-work">Languages:</td>

            <td align="center" class="table-head-work">Technology:</td>

            <td align="center" class="table-head-work">Employment:</td>
        </tr>
        <tr>
            <td align="center" class="table-info-work">Python, PySide Qt</td>

            <td align="center" class="table-info-work">PyTest Qt, Git</td>

            <td align="center" class="table-info-work">Jan - Aug 2016</td>
        </tr>
    </table>
</section>
