<div class="sec-2 container-fluid" id="work">
    <div class="row text-center">
        <h1 class="header-text">Work</h1>
    </div>
    <hr class="style-two">
    <div class="row text-center">
        <h2 class="header-text" style="color:#FFF">Lawrence Livermore National Laboratory</h2>
    </div>
    <div class="row desc job" data="Lab.md"></div>
    <div class='row work-stuff'>
        <div class='col-xs-12 col-md-4 text-center'>
            <h3>Languages:</h3>
            <p>
                Python, PySide Qt, JS/ES6, HTML/CSS
            </p>
        </div>
        <div class='col-xs-12 col-md-4 text-center'>
            <h3>Technology:</h3>
            <p>
                React/Redux, Flask, PyTest Qt, Git, Webpack
            </p>
        </div>
        <div class='col-xs-12 col-md-4 text-center'>
            <h3>Employment:</h3>
            <p>
                Computation Intern: January 2016 - August 2016
            </p>
        </div>
    </div>

</div>
