<div class="sec-2 container-fluid" id="work">
    <div class="row text-center">
        <h1 class="header-text">Work</h1>
    </div>
    <hr class="style-two">
    <div class="row text-center">
        <h2 class="header-text" style="color:#FFF">Lawrence Livermore National Laboratory (Current) (Internship)</h2>
    </div>
    <div class="row desc job" data="Lab.md"></div>

    <!-- <table style="width:100%" class="work-table">
        <tr>
            <td align="center" class="table-head-work">Languages:</td>

            <td align="center" class="table-head-work">Technology:</td>

            <td align="center" class="table-head-work">Employment:</td>
        </tr>
        <tr>
            <td align="center" class="table-info-work">Python, PySide Qt, React, JS, HTML/CSS</td>

            <td align="center" class="table-info-work">PyTest Qt, Git, Webpack</td>

            <td align="center" class="table-info-work">Jan - Aug 2016</td>
        </tr>
    </table> -->
    <div class='row work-stuff'>
        <div class='col-sm-4'>
            <h3>Languages:</h3>
            <p>
                Python, PySide Qt, JS/ES6, HTML/CSS
            </p>
        </div>
        <div class='col-sm-4'>
            <h3>Technology:</h3>
            <p>
                React/Redux, Flask, PyTest Qt, Git, Webpack
            </p>
        </div>
        <div class='col-sm-4'>
            <h3>Employment:</h3>
            <p>
                January 2016 - August 2016
            </p>
        </div>
    </div>

</div>
