<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Climate and Forecast Metadata also know as the CF Convention or CF Metadata"/>
    <meta name="author" content="{{ site.author }}">
    <link rel="shortcut icon" href="../Data/media/images/favicon.png">

    <title>{{ page.title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="../Data/media/css/bootstrap.min.css" rel="stylesheet">
    <link href="../Data/media/css/portfolio.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="../Data/media/css/freelancer.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <style>
        body {
            padding-top: 50px;
            font-size:18px;
        }
    </style>
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand scroll-link" href="#top">Bryce Sampson</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li>
                        <a class="scroll-link" href="#projects">Projects</a>
                    </li>
                    <li>
                        <a class="scroll-link" href="#about">About</a>
                    </li>
                    <li>
                        <a class="scroll-link" href="#work">Work</a>
                    </li>
                    <li>
                        <a class="scroll-link" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div>
    {% include intro.html %}

    {% include projects.html %}

    {% include about.html %}

    {% include work.html %}

    {% include contact.html %}

    <footer class="text-center">
        <h4 class="side-by-side">Email: </h4>
        <p class="side-by-side">sampson.bryce@yahoo.com</p>
        <a href="http://www.quick-counter.net/" title="HTML hit counter - Quick-counter.net" style="margin-left:50px;"><img src="http://www.quick-counter.net/aip.php?tp=di&tz=America%2FLos_Angeles" alt="HTML hit counter - Quick-counter.net" border="0" /></a>
    </footer>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="https://cdn.rawgit.com/showdownjs/showdown/1.3.0/dist/showdown.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.2.0/parsley.js"></script>
<script src="../Data/media/js/bootstrap.min.js"></script>
<script src="../Data/media/js/links.js"></script>
<script src="../Data/media/js/scroll.js"></script>
<script src="../Data/media/js/PlaceMarkdown.js"></script>
<script src="../Data/media/js/ModalPosition.js"></script>
</body>
</html>
